@import url(https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe:wght@400;700&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --homePrimary: 0, 0%, 6%;
    --homePrimary-foreground: 0 0% 100%;

    --homeSecondary: 54, 100%, 47%;
    --homeSecondary-foreground: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  font-family: 'ZCOOL KuaiLe', cursive;
  scroll-behavior: smooth;
  scroll-margin-top: 80px;
}

#menu-toggle:checked + #menu {
  display: block;
}

.menu-item a {
  display: inline-block;
}

.hero-bg-image {
  border-radius: 50%;
  /* overflow: hidden; */
}

.circle-corners {
  position: relative;
  background-color: theme(
    "colors.secondary.DEFAULT"
  ); /* Color of your choice */
  border: none;
  padding: 15px 25px; /* Adjust padding to ensure the corners are visible */
  font-size: 16px;
  cursor: pointer;
  overflow: hidden; /* Important: to hide the pseudo-elements outside the button */
}

.circle-corners::before,
.circle-corners::after {
  content: "";
  position: absolute;
  width: 20px; /* Radius of circle */
  height: 20px;
  background-color: black; /* Color of your page background */
  border-radius: 50%; /* Makes it a circle */
}

.circle-corners::before {
  top: -10px; /* Half the circle's size to position it correctly */
  left: -10px;
}

.circle-corners::after {
  top: -10px;
  right: -10px;
}

.generic-card {
  filter: drop-shadow(0px 4px 2px rgba(240, 216, 0, .75));
}

.rounded-more {
  border-radius: 1.5rem;
}

.rounded-less {
  border-radius: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid white;
}

tr:nth-child(even) {
  background-color:  #F5F5F5 /*theme(colors.secondaryRed.DEFAULT);*/
} 

tr:nth-child(odd) {
  color: black;
}

.no-select {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

.grid {
  justify-items: center;
}
